<br />

<ng-container
  *ngIf="
    userSettings && barcodeList && barcodeList.length > 0;
    then barcodeSelection;
    else noBarcode
  "
></ng-container>

<ng-template #barcodeSelection>
  <!-- TODO-STERN: change text -->
  <h2 id="barcode-radio-group-label">Please select a barcode:</h2>

  <mat-radio-group
    aria-labelledby="barcode-radio-group-label"
    (change)="onSelectBarcode($event)"
  >
    <mat-card
      class="sternumlauf-barcode-item"
      *ngFor="let barcode of barcodeList"
    >
      <mat-card-header>
        <mat-card-title>
          <mat-radio-button [value]="barcode"
            >{{ barcode.barcode }}
          </mat-radio-button>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p *ngIf="barcode.description">
          <!-- TODO-STERN: change text -->
          <strong>Description: </strong>{{ barcode.description }}
        </p>

        <p *ngIf="barcode.receive_date">
          <!-- TODO-STERN: change text -->
          <strong>Receive Date: </strong
          >{{ barcode.receive_date | date : "mediumDate" }}
        </p>

        <p *ngIf="barcode.item_policy.desc">
          <!-- TODO-STERN: change text -->
          <strong>ItemPolicy: </strong>{{ barcode.item_policy.desc }}
        </p>
      </mat-card-content>
    </mat-card>
  </mat-radio-group>

  <br />
  <mat-divider></mat-divider>
  <br />

  <div *ngIf="selectedBarcode">
    <div>
      <!-- TODO-STERN: change text -->
      <h4>
        This is the user configuration. If these values are not correct, please
        go to settings and update them.
      </h4>

      <app-alert type="info">
        <pre>{{ userSettings.sternumlauf | json }}</pre>
      </app-alert>

      <!-- TODO-STERN: change text -->
      <button mat-button type="button" color="primary" routerLink="/settings">
        go to settings
      </button>
    </div>

    <br />
    <br />

    <div>
      <!-- TODO-STERN: change text -->
      <button mat-flat-button color="primary" (click)="prepareSternumlauf()">
        sternumlauf vorbereiten
      </button>
    </div>

    <br />
  </div>
</ng-template>

<ng-template #noBarcode>
  <!-- TODO-STERN: change text -->
  <app-alert type="error"> No sternumlauf barcode found </app-alert>
</ng-template>

<app-loading-spinner *ngIf="loading"></app-loading-spinner>
