<div *ngIf="userSettings && barcodeList.length > 0">
  <div>
    <p>setting item policy</p>
    <pre>{{ userSettings.itemPolicy | json }}</pre>
  </div>

  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <label id="barcode-radio-group-label">Select a barcode:</label>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-radio-group
        aria-labelledby="barcode-radio-group-label"
        (change)="onSelectBarcode($event)"
      >
        <mat-radio-button *ngFor="let barcode of barcodeList" [value]="barcode">
          <mat-list>
            <mat-list-item>
              <strong>Barcode: </strong> {{ barcode.barcode }}
            </mat-list-item>

            <mat-list-item *ngIf="barcode.description">
              <strong>Description: </strong> {{ barcode.description }}
            </mat-list-item>

            <mat-list-item *ngIf="barcode.receive_date">
              <strong>Receive Date: </strong>
              {{ barcode.receive_date | date : "mediumDate" }}
            </mat-list-item>

            <mat-list-item *ngIf="barcode.item_policy.desc">
              <strong>ItemPolicy: </strong> {{ barcode.item_policy.desc }}
            </mat-list-item>
          </mat-list>
        </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>

  <br />
  <mat-divider></mat-divider>
  <br />

  <div *ngIf="selectedBarcode">
    <div>
      <p>
        This is the user configuration. If these values are not correct, please
        go to settings and update them.
      </p>

      <pre>{{ userSettings.sternumlauf | json }}</pre>

      <button mat-button type="button" color="primary" routerLink="/settings">
        go to settings
      </button>
    </div>

    <br />

    <br />

    <div>
      <button mat-flat-button color="primary" (click)="prepareSternumlauf()">
        sternumlauf vorbereiten
      </button>
    </div>
  </div>
</div>

<app-loading-spinner *ngIf="loading"></app-loading-spinner>
