<br />

<ng-container
  *ngIf="
    userSettings && barcodeList && barcodeList.length > 0;
    then barcodeSelection;
    else noBarcode
  "
></ng-container>

<ng-template #barcodeSelection>
  <h2 id="barcode-radio-group-label" translate>
    Translate.components.sternumlauf.header
  </h2>

  <mat-radio-group
    aria-labelledby="barcode-radio-group-label"
    (change)="onSelectBarcode($event)"
  >
    <mat-card
      class="sternumlauf-barcode-item"
      *ngFor="let barcode of barcodeList"
    >
      <mat-card-header>
        <mat-card-title>
          <mat-radio-button [value]="barcode"
            >{{ barcode.barcode }}
          </mat-radio-button>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p *ngIf="barcode.description">
          <strong translate
            >Translate.components.sternumlauf.barcode.desc</strong
          >{{ barcode.description }}
        </p>

        <p *ngIf="barcode.receive_date">
          <strong translate
            >Translate.components.sternumlauf.barcode.receiveDate</strong
          >{{ barcode.receive_date | date : "mediumDate" }}
        </p>

        <p *ngIf="barcode.item_policy.desc">
          <strong translate
            >Translate.components.sternumlauf.barcode.policy</strong
          >{{ barcode.item_policy.desc }}
        </p>
      </mat-card-content>
    </mat-card>
  </mat-radio-group>

  <br />
  <mat-divider></mat-divider>
  <br />

  <div *ngIf="selectedBarcode">
    <div>
      <h4 translate>Translate.components.sternumlauf.settings.desc</h4>

      <app-alert type="info">
        <div>
          <p>
            <strong translate
              >Translate.components.sternumlauf.settings.info.locationType</strong
            >{{ userSettings.sternumlauf.locationType }}
          </p>
          <p>
            <strong translate
              >Translate.components.sternumlauf.settings.info.locationLibrary</strong
            >{{ userSettings.sternumlauf.locationLibrary }}
          </p>
          <p style="margin: 0">
            <strong translate
              >Translate.components.sternumlauf.settings.info.locationCirculationDesk</strong
            >{{ userSettings.sternumlauf.locationCirculationDesk }}
          </p>
        </div>
      </app-alert>

      <button mat-button type="button" color="primary" routerLink="/settings">
        {{ "Translate.components.sternumlauf.button.toSettings" | translate }}
      </button>
    </div>

    <br />
    <br />

    <div>
      <button mat-flat-button color="primary" (click)="prepareSternumlauf()">
        {{
          "Translate.components.sternumlauf.button.prepareSternumlauf"
            | translate
        }}
      </button>
    </div>

    <br />
  </div>
</ng-template>

<ng-template #noBarcode>
  <app-alert type="error">{{
    "Translate.components.sternumlauf.alert.noBarcode" | translate
  }}</app-alert>
</ng-template>

<app-loading-spinner *ngIf="loading"></app-loading-spinner>
