<br />
<h2>Interessierte Benutzer</h2>

<p>
  Die Reihenfolge der Benutzer kann durch Ziehen und Ablegen geändert werden
</p>

<br />

<div class="dnd__container">
  <div class="dnd__list dnd__list--index">
    <div *ngFor="let user of users; let i = index" class="dnd__item">
      {{ i + 1 }}
    </div>
  </div>

  <div cdkDropList class="dnd__list" (cdkDropListDropped)="drop($event)">
    <div class="dnd__item" *ngFor="let user of users; let i = index" cdkDrag>
      <div class="dnd__placeholder" *cdkDragPlaceholder></div>
      <div>{{ user.last_name }} {{ user.first_name }}</div>

      <div>
        <i
          style="cursor: initial"
          class="uxf-icon uxf-help"
          [matTooltip]="'ID: ' + user.primary_id"
          matTooltipPosition="after"
        ></i>
      </div>
    </div>
  </div>
</div>

<br />

<div *ngIf="hasUnsavedChanges">
  <app-alert type="info">
    Es gibt nicht gespeicherte Änderungen. Bitte speichern Sie diese, bevor Sie
    die Seite verlassen
  </app-alert>

  <div class="interested-users-actions">
    <ng-content></ng-content>

    <button
      mat-flat-button
      color="secondary"
      (click)="resetOrder()"
      [disabled]="loading"
    >
      Zurücksetzen
    </button>
  </div>

  <br />
</div>
