<mat-card>
  <mat-card-header>
    <mat-card-title>
      change the order of the users by dragging and dropping them
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
      <div
        [ngStyle]="{ cursor: 'grab' }"
        class="example-box"
        *ngFor="let user of users; let i = index"
        cdkDrag
      >
        <div>
          <strong>{{ i + 1 }}. User: </strong>{{ user.last_name }}
          {{ user.first_name }}
        </div>

        <div>
          <i
            [ngStyle]="{ cursor: 'help' }"
            class="uxf-icon uxf-info"
            (click)="remove(i)"
            [matTooltip]="'ID: ' + user.primary_id"
            matTooltipPosition="after"
          ></i>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<br />

<div *ngIf="hasUnsavedChanges">
  <p>There are unsaved changes. Please save them before leaving this page.</p>
  <div class="eca-actions">
    <ng-content></ng-content>
  </div>
</div>

<p *ngIf="!hasUnsavedChanges">There are no unsaved changes.</p>
