<ng-container
  *ngIf="users && users.length > 0; then userlist; else nouser"
></ng-container>

<ng-template #userlist>
  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let user of users; let i = index" cdkDrag>
      <!-- TODO -->
      <!-- lastname - firstname hover for ID -->
      <span>{{ i + 1 }}. User:</span>{{ user.primary_id }}
    </div>
  </div>

  <br />

  <ng-content></ng-content>
</ng-template>

<ng-template #nouser>
  <p>No interested users found</p>
</ng-template>
