.ringumlauf-pdf-container {
  margin: 50px;
  padding-bottom: 50px;
  border: 1px solid rgb(197, 197, 197);
}

#ringumlauf-pdf {
  padding: 0 100px;

  h2 {
    text-align: center;
  }

  p,
  td {
    font-weight: 400;
  }

  .address-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th {
      border-bottom: 1px solid rgb(0, 0, 0);
    }

    td,
    th {
      text-align: left;
      padding: 10px 0;
    }
  }
}
