.ringumlauf-pdf-container {
  margin: 50px;
  padding-bottom: 50px;
  border: 1px solid rgb(197, 197, 197);

  #ringumlauf-pdf {
    padding: 100px 60px 0;

    p {
      font-size: 22px;
      font-weight: 400;
    }

    h2.ringumlauf-pdf-header {
      text-align: center;
      font-size: 30px;
    }

    .address-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      p {
        font-size: 22px;
      }

      & > div {
        max-width: 40%;
      }
    }

    h3.ringumlauf-pdf-title {
      font-size: 24px;
    }
  }

  .ringumlauf-pdf-table {
    padding: 0 60px;

    table {
      width: 100%;
      border-collapse: collapse;

      th {
        background-color: rgb(235, 235, 235);
      }

      td,
      th {
        text-align: left;
        padding: 10px;
        font-size: 20px;
      }
    }
  }
}
