<h1 id="ringumlauf-pdf-dialog-title" mat-dialog-title>Ringumlauf PDF</h1>

<mat-dialog-content>
  <ng-container *ngIf="hasSmallWidth; then smallView; else pdf"></ng-container>

  <ng-template #smallView>
    <app-alert type="info">
      make the browser and cloud app fullscreen to see the PDF
    </app-alert>
  </ng-template>

  <ng-template #pdf>
    <div class="ringumlauf-pdf-container">
      <div id="ringumlauf-pdf">
        <h2 class="ringumlauf-pdf-header">Umlauf-/Entlehnliste</h2>

        <br />
        <br />

        <div class="address-container">
          <div class="address-left">
            <p>{{ usersList[0].firstName }}</p>
            <p>{{ usersList[0].lastName }}</p>
            <p>{{ usersList[0].address1 }}</p>
            <p>{{ usersList[0].address2 }}</p>
          </div>

          <div class="address-right">
            <p>{{ userSettings.information.title }}</p>
            <p>{{ userSettings.information.subtitle }}</p>
            <p>{{ userSettings.information.address }}</p>
            <p>{{ userSettings.information.phone }}</p>
            <p>{{ userSettings.information.email }}</p>
            <p>{{ userSettings.information.website }}</p>
            <p>DVR: {{ userSettings.information.dvr }}</p>
          </div>
        </div>

        <br />
        <br />
        <br />

        <h3 class="ringumlauf-pdf-title">{{ data.title }}</h3>

        <br />

        <div>
          <p>Barcode: {{ data.barcode }}</p>
          <p>Lesetage/TeilnehmerIn max: {{ data.readDays }}</p>
          <p>Bemerkung: {{ data.comment }}</p>
        </div>

        <br />
        <br />
      </div>

      <div class="ringumlauf-pdf-table">
        <table>
          <thead>
            <tr>
              <th>Vorname</th>
              <th>Nachname</th>
              <th>Adresse</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let user of usersList">
              <td>{{ user.firstName }}</td>
              <td>{{ user.lastName }}</td>
              <td>{{ user.address1 }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <br />
    <br />
    <mat-divider></mat-divider>

    <mat-dialog-actions>
      <button
        mat-flat-button
        color="primary"
        [mat-dialog-close]="true"
        cdkFocusInitial
        (click)="generatePdf()"
      >
        Download PDF
      </button>
    </mat-dialog-actions>
  </ng-template>
</mat-dialog-content>
