<h1 id="ringumlauf-pdf-dialog-title" mat-dialog-title>Ringumlauf PDF</h1>

<mat-dialog-content>
  <ng-container *ngIf="hasSmallWidth; then smallView; else pdf"></ng-container>

  <ng-template #smallView>
    <app-alert type="info">
      make the browser fullscreen to see the PDF
    </app-alert>
  </ng-template>

  <ng-template #pdf>
    <div class="ringumlauf-pdf-container">
      <div id="ringumlauf-pdf">
        <div style="height: 100px"></div>

        <h2>Umlauf-/Entlehnliste</h2>

        <br />

        <div class="address-container">
          <div class="address-left">
            <p>{{ usersList[0].firstName }}</p>
            <p>{{ usersList[0].lastName }}</p>
            <p>{{ usersList[0].address1 }}</p>
            <p>{{ usersList[0].address2 }}</p>
          </div>

          <div class="address-right">
            <p>{{ userSettings.information.title }}</p>
            <p>{{ userSettings.information.subtitle }}</p>
            <p>{{ userSettings.information.address }}</p>
            <p>{{ userSettings.information.phone }}</p>
            <p>{{ userSettings.information.email }}</p>
            <p>{{ userSettings.information.website }}</p>
            <p>DVR: {{ userSettings.information.dvr }}</p>
          </div>
        </div>

        <br />

        <h3>{{ data.title }}</h3>

        <br />

        <div>
          <p><strong>Barcode:</strong> {{ data.barcode }}</p>
          <p><strong>Lesetage/TeilnehmerIn max:</strong> {{ data.readDays }}</p>
          <p><strong>Bemerkung:</strong> {{ data.comment }}</p>
        </div>

        <br />
        <br />

        <table>
          <thead>
            <tr>
              <th>Vorname</th>
              <th>Nachname</th>
              <th>Adresse</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let user of usersList">
              <td>{{ user.firstName }}</td>
              <td>{{ user.lastName }}</td>
              <td>{{ user.address1 }}</td>
            </tr>
            <tr
              *ngFor="
                let user of [
                  1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
                  19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
                  34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48,
                  49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63,
                  64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78,
                  79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93,
                  94, 95, 96, 97, 98, 99, 100, 101
                ];
                let i = index
              "
            >
              <td>example name {{ i }}</td>
              <td>example name {{ i }}</td>
              <td>example address {{ i }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <br />
    <br />
    <mat-divider></mat-divider>

    <mat-dialog-actions>
      <button
        mat-flat-button
        color="primary"
        [mat-dialog-close]="true"
        cdkFocusInitial
        (click)="generatePdf()"
      >
        Download PDF
      </button>
    </mat-dialog-actions>
  </ng-template>
</mat-dialog-content>
