.alert {
  padding: 12px 20px;
  margin-bottom: 8px;
}

.info {
  background-color: #cdeefd;
  color: #02587f;
}

.error {
  background-color: #fdd9d7;
  color: #7f231c;
}

.success {
  background-color: #dbefdc;
  color: #285b2a;
}
