<br />

<ng-container
  *ngIf="
    barcodeList && barcodeList.length > 0;
    then barcodeSelection;
    else noBarcode
  "
></ng-container>

<ng-template #barcodeSelection>
  <h2 id="barcode-radio-group-label">Bitte wählen Sie einen Barcode aus:</h2>
  <mat-radio-group
    aria-labelledby="barcode-radio-group-label"
    [(ngModel)]="selectedBarcode"
    (change)="onSelectBarcode($event)"
  >
    <mat-card
      class="ringumlauf-barcode-item"
      *ngFor="let barcode of barcodeList"
    >
      <mat-card-header>
        <mat-card-title>
          <mat-radio-button [value]="barcode"
            >{{ barcode.barcode }}
          </mat-radio-button>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p *ngIf="barcode.description">
          <strong>Beschreibung: </strong>{{ barcode.description }}
        </p>

        <p *ngIf="barcode.receive_date">
          <strong>Erhaltungsdatum: </strong
          >{{ barcode.receive_date | date : "mediumDate" }}
        </p>

        <p *ngIf="barcode.item_policy.desc">
          <strong>Richtlinie: </strong>{{ barcode.item_policy.desc }}
        </p>
      </mat-card-content>
    </mat-card>
  </mat-radio-group>

  <br />
  <mat-divider></mat-divider>
  <br />

  <h2>Zusatzinformation</h2>
  <div>
    <mat-form-field>
      <mat-label>Lesetage/TeilnehmerIn max:</mat-label>
      <input matInput type="text" [(ngModel)]="readDays" />
      <button
        mat-button
        *ngIf="readDays"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="readDays = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Bemerkung:</mat-label>
      <input matInput type="text" [(ngModel)]="comment" />
      <button
        mat-button
        *ngIf="comment"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="comment = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <br />

  <button
    mat-flat-button
    color="primary"
    (click)="printRingumlauf()"
    [disabled]="loading"
    style="margin-bottom: 20px"
  >
    Ringumlauf Starten
  </button>
</ng-template>

<ng-template #noBarcode>
  <app-alert type="error">Kein Ringumlauf-Barcode gefunden</app-alert>
</ng-template>

<app-loading-spinner *ngIf="loading"></app-loading-spinner>
