<mat-dialog-content>
  <h3>Sternumlauf-Prozess</h3>

  <div *ngIf="!isUmlaufStarted">
    <button mat-flat-button color="primary" (click)="startSternumlauf()">
      Starten
    </button>
  </div>

  <div *ngIf="loading">
    <div class="sternumlauf-process">
      <mat-icon *ngIf="processed != totalProgress" class="loading"
        >hourglass_bottom</mat-icon
      >
      <mat-icon *ngIf="processed == totalProgress" class="check"
        >check</mat-icon
      >
      <div>Creating user requests: {{ processed }} / {{ totalProgress }}</div>
    </div>

    <div class="sternumlauf-process">
      <mat-icon *ngIf="runCheckRequests == 'loading'" class="loading"
        >hourglass_bottom</mat-icon
      >
      <mat-icon *ngIf="runCheckRequests == 'check'" class="check"
        >check</mat-icon
      >
      <mat-icon *ngIf="runCheckRequests == 'block'" class="block"
        >block</mat-icon
      >
      <div>Checking created user requests</div>
    </div>

    <div class="sternumlauf-process">
      <mat-icon *ngIf="runScanIn == 'loading'" class="loading"
        >hourglass_bottom</mat-icon
      >
      <mat-icon *ngIf="runScanIn == 'check'" class="check">check</mat-icon>
      <mat-icon *ngIf="runScanIn == 'block'" class="block">block</mat-icon>
      <div>Running scan in operation</div>
    </div>

    <div class="sternumlauf-process">
      <mat-icon *ngIf="runLoan == 'loading'" class="loading"
        >hourglass_bottom</mat-icon
      >
      <mat-icon *ngIf="runLoan == 'check'" class="check">check</mat-icon>
      <mat-icon *ngIf="runLoan == 'block'" class="block">block</mat-icon>
      <div>Running loan operation</div>
    </div>
  </div>

  <div *ngIf="finalResult">
    <app-alert [type]="finalResult.type">{{ finalResult.message }}</app-alert>
  </div>

  <br />
  <mat-divider></mat-divider>

  <mat-dialog-actions align="end">
    <button mat-button [disabled]="loading" mat-dialog-close>Zurück</button>
  </mat-dialog-actions>
</mat-dialog-content>
