<ng-container
  *ngIf="isUmlaufStarted; then umlaufResult; else umlaufButton"
></ng-container>

<ng-template #umlaufButton>
  <button mat-flat-button color="primary" (click)="startSternumlauf()">
    sternumlauf starten
  </button>
</ng-template>

<ng-template #umlaufResult>
  <app-alert [type]="finalResult.type" *ngIf="finalResult">
    {{ finalResult.message }}</app-alert
  >

  <div *ngIf="finalResult && finalResult.type === 'success'">
    <button mat-button type="button" color="primary" routerLink="/">
      back to Home
    </button>
  </div>
</ng-template>

<div class="loading-shade" *ngIf="loading">
  <!-- TODO: check if it works -->
  <h2>{{ processed }} / {{ totalProgress }}</h2>
  <br />
  <br />
  <mat-progress-spinner
    mode="determinate"
    diameter="50"
    [value]="percentComplete"
  >
  </mat-progress-spinner>
</div>
