<mat-dialog-content>
  <h2>Sternumlauf is ready to start</h2>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae accusamus
    natus repellendus qui ullam saepe unde ipsam neque, harum asperiores enim
    suscipit vitae aliquid quia veniam veritatis dolores inventore sunt.
  </p>

  <div *ngIf="!isUmlaufStarted">
    <button mat-flat-button color="primary" (click)="startSternumlauf()">
      starten
    </button>
  </div>

  <br />

  <div class="sternumlauf-process" *ngIf="loading">
    <div class="loading-shade"></div>

    <div>
      <mat-spinner diameter="40"></mat-spinner>
    </div>

    <br />
    <br />

    <div>
      <p>Creating user requests: {{ processed }} / {{ totalProgress }}</p>
      <p>Checking created user requests</p>
      <p *ngIf="runScanIn">Running scan in operation</p>
      <p *ngIf="runLoan">Running loan operation</p>
    </div>

    <br />
  </div>

  <div *ngIf="finalResult">
    <app-alert [type]="finalResult.type">{{ finalResult.message }}</app-alert>
  </div>

  <br />
  <mat-divider></mat-divider>

  <mat-dialog-actions align="end">
    <button mat-button [disabled]="loading" mat-dialog-close>close</button>
  </mat-dialog-actions>
</mat-dialog-content>
