<div *ngIf="entities$ | async as entities">
  <ng-container
    *ngIf="entities.length > 0; then entityList; else noEntities"
  ></ng-container>

  <ng-template #noEntities>
    <div class="highlight">
      Navigate to a page in Alma to view a list of entities.
    </div>
  </ng-template>

  <ng-template #entityList>
    <div class="eca-actions">
      <button
        mat-flat-button
        color="secondary"
        (click)="clear()"
        [disabled]="!selectedEntity"
      >
        Reset Cloud App
      </button>
    </div>

    <label id="entities-radio-group-label">Select an entity:</label>
    <mat-radio-group
      aria-labelledby="entities-radio-group-label"
      [(ngModel)]="selectedEntity"
      (change)="onEntitySelected($event)"
    >
      <mat-radio-button *ngFor="let entity of entities" [value]="entity">
        {{ entity.description }}
      </mat-radio-button>
    </mat-radio-group>
  </ng-template>

  <div>
    <ng-container
      *ngIf="
        apiResult &&
          apiResult.interested_user &&
          apiResult.interested_user.length > 0;
        then tabGroup;
        else noUserFound
      "
    ></ng-container>

    <ng-template #tabGroup>
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="Interested Users"
          ><app-interested-users [users]="apiResult.interested_user">
            <button
              mat-flat-button
              color="primary"
              (click)="saveUsersOrder()"
              [disabled]="!apiResult || loading"
            >
              Speichern
            </button>
          </app-interested-users></mat-tab
        >

        <mat-tab label="Ringumlauf">
          <app-ringumlauf [apiResult]="apiResult"></app-ringumlauf>
        </mat-tab>

        <mat-tab label="Sternumlauf"
          ><app-sternumlauf [apiResult]="apiResult"></app-sternumlauf
        ></mat-tab>
      </mat-tab-group>
    </ng-template>

    <ng-template #noUserFound>
      <div class="highlight">No data or no interested user found</div>
    </ng-template>
  </div>
</div>

<app-loading-spinner *ngIf="loading"></app-loading-spinner>
