.item-policy__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
}

button[mat-icon-button][color="warn"] mat-icon {
  color: #f44336;
}

mat-form-field {
  width: 100%;
}
