<br />

<button mat-flat-button color="primary" routerLink="/" style="display: block">
  {{ "Translate.shared.button.home" | translate }}
</button>

<br />
<mat-divider></mat-divider>
<br />

<app-loading-spinner *ngIf="saving"></app-loading-spinner>

<app-alert type="error" *ngIf="itemPolicy.length === 0">{{
  "Translate.pages.settings.alert.noItemPolicy" | translate
}}</app-alert>

<div *ngIf="settingsForm">
  <mat-card>
    <mat-card-header>
      <mat-card-title translate>
        Translate.pages.settings.itemPolicy.title</mat-card-title
      >
    </mat-card-header>

    <mat-card-content>
      <div class="item-policy">
        <mat-list role="list">
          <mat-list-item
            role="listitem"
            *ngFor="let policy of itemPolicy"
            class="item-policy__list"
          >
            <div mat-line>{{ policy }}</div>
            <button
              mat-icon-button
              color="warn"
              aria-label="remove item policy"
              (click)="removeItemPolicy(policy)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
      </div>

      <mat-form-field>
        <mat-label translate
          >Translate.pages.settings.itemPolicy.newPolicy</mat-label
        >
        <input matInput type="text" #newPolicy />
      </mat-form-field>

      <button
        mat-flat-button
        type="button"
        color="primary"
        (click)="addItemPolicy(newPolicy)"
        [disabled]="newPolicy.value === ''"
      >
        {{ "Translate.shared.button.add" | translate }}
      </button>
    </mat-card-content>
  </mat-card>

  <br />

  <form [formGroup]="settingsForm">
    <div formGroupName="sternumlauf">
      <mat-card>
        <mat-card-header>
          <mat-card-title translate
            >Translate.pages.settings.sternumlauf.title</mat-card-title
          >
        </mat-card-header>

        <mat-card-content>
          <mat-form-field>
            <mat-label translate
              >Translate.pages.settings.sternumlauf.form.locationType</mat-label
            >
            <input
              matInput
              type="text"
              formControlName="locationType"
              placeholder="LIBRARY"
            />
          </mat-form-field>

          <mat-form-field>
            <mat-label translate
              >Translate.pages.settings.sternumlauf.form.locationLibrary</mat-label
            >
            <input
              matInput
              type="text"
              formControlName="locationLibrary"
              placeholder="MUS"
            />
          </mat-form-field>

          <mat-form-field>
            <mat-label translate
              >Translate.pages.settings.sternumlauf.form.locationCirculationDesk</mat-label
            >
            <input
              matInput
              type="text"
              formControlName="locationCirculationDesk"
              placeholder="DEFAULT_CIRC_DESK"
            />
          </mat-form-field>

          <br />
          <button
            mat-flat-button
            type="button"
            color="primary"
            (click)="resetSternumlaufSettings()"
          >
            {{ "Translate.shared.button.reset" | translate }}
          </button>
        </mat-card-content>
      </mat-card>
    </div>

    <br />

    <div formGroupName="information">
      <mat-card>
        <mat-card-header>
          <mat-card-title translate
            >Translate.pages.settings.information.title</mat-card-title
          >
        </mat-card-header>

        <mat-card-content>
          <mat-form-field>
            <mat-label translate
              >Translate.pages.settings.information.form.title</mat-label
            >
            <input matInput type="text" formControlName="title" />
          </mat-form-field>

          <mat-form-field>
            <mat-label translate
              >Translate.pages.settings.information.form.subtitle</mat-label
            >
            <input matInput type="text" formControlName="subtitle" />
          </mat-form-field>

          <mat-form-field>
            <mat-label translate
              >Translate.pages.settings.information.form.address</mat-label
            >
            <input matInput type="text" formControlName="address" />
          </mat-form-field>

          <mat-form-field>
            <mat-label translate
              >Translate.pages.settings.information.form.tel</mat-label
            >
            <input matInput type="text" formControlName="phone" />
          </mat-form-field>

          <mat-form-field>
            <mat-label translate
              >Translate.pages.settings.information.form.email</mat-label
            >
            <input matInput type="text" formControlName="email" />
          </mat-form-field>

          <mat-form-field>
            <mat-label translate
              >Translate.pages.settings.information.form.website</mat-label
            >
            <input matInput type="text" formControlName="website" />
          </mat-form-field>

          <mat-form-field>
            <mat-label translate
              >Translate.pages.settings.information.form.dvr</mat-label
            >
            <input matInput type="text" formControlName="dvr" />
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </div>
  </form>
</div>

<br />

<button
  mat-flat-button
  type="button"
  color="primary"
  (click)="save()"
  [disabled]="itemPolicy.length === 0"
>
  {{ "Translate.shared.button.save" | translate }}
</button>

<br />
<br />
